# Configuration for Merlin (gather values from OpenRC file):
{
    "openstack_domainname": "Default",
    "openstack_username": "",
    "openstack_password": "",
    "openstack_projectid": ""
}

# Configuration for Fuga (gather values from Web UI and OpenRC file)
{
    "openstack_domainid": "", # Note: domain ID, not domain name
    "openstack_username": "",
    "openstack_password": "",
    "openstack_projectid": ""
}